In [4]:
#Exercise1
team_1 = ['阪神', '巨人', 'ヤクルト']
team_2 = ['DeNA', '中日', '広島']
team_1 += team_2
#team_1.extend(team_2)
print(team_1)

['阪神', '巨人', 'ヤクルト', 'DeNA', '中日', '広島']

In [5]:
#Exercise2
flowers = ['桜', '菊', '百合', '薔薇', '梅']
print(' '.join(flowers))

桜 菊 百合 薔薇 梅

In [5]:
#Exercise3
country = '東京,ニューヨーク,ロンドン,パリ,ローマ'
country = country.split(',')
country2 = country.copy()
#country2 = list(country)
#country2 = country[:]
country2[1] = 'マドリード'
country2[3] = 'ベルリン'
print(country)
print(country2)

['東京', 'ニューヨーク', 'ロンドン', 'パリ', 'ローマ']
['東京', 'マドリード', 'ロンドン', 'ベルリン', 'ローマ']

In [1]:
#Exercise4
favorites = {'java':60, 'python':80, 'c++':40, 'javascript':70}
print(list(favorites))
print(list(favorites.keys()))
print(list(favorites.values()))

['java', 'python', 'c++', 'javascript']
['java', 'python', 'c++', 'javascript']
[60, 80, 40, 70]

In [15]:
#Exercise5
number = ['one', 'two', 'four']
number.append('five')
print(number)
number.insert(2, 'three')
print(number)

['one', 'two', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

In [9]:
#Exercise6
number = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
print(number[0:3])
print(number[2:5])
print(number[::2])
print(number[::-2])

['one', 'two', 'three']
['three', 'four', 'five']
['one', 'three', 'five', 'seven']
['seven', 'five', 'three', 'one']

In [19]:
#Exercise7
material = ['いち', 'にー', 'なな', 'さん', 'よん']
material.remove('なな')
print(material)
del material[-2:]
print(material)

['いち', 'にー', 'さん', 'よん']
['いち', 'にー']

In [21]:
#Exercise8
box1 = ['one', 'two', 'three', 'eight']
box2 = ['five', 'six', 'seven', 'four']
num1 = box1.pop()
num2 = box2.pop()
box1.append(num2)
box2.append(num1)
print(box1)
print(box2)

['one', 'two', 'three', 'four']
['five', 'six', 'seven', 'eight']

In [13]:
#Exercise9
nums = [2,'1',4.0,0,3.14]
nums.sort(key=int)
print(nums)
nums.sort(key=int,reverse=True)
print(nums)

[0, '1', 2, 3.14, 4.0]
[4.0, 3.14, 2, '1', 0]

In [21]:
#Exercise10
fruits = [
    ['Banana', 'Peach'],
    ['Orange', 'Grape'],
    ['Apple', 'Cherry']
]
print(fruits[0][0]+','+fruits[2][1])

Banana,Cherry

In [1]:
#Exercise11
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = list()

odd = listOne[1::2]
print(odd)
even = listTwo[0::2]
print(even)
listThree.extend(odd)
listThree.extend(even)
print(listThree)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]

In [2]:
#Exercise12
nums = [34, 54, 67, 89, 11, 43, 94]
element = nums.pop(4)
print('INDEX 4を削除：', nums)
nums.insert(2, element)
print('INDEX 2に挿入：', nums)
nums.append(element)
print('最後に追加：', nums)

INDEX 4を削除： [34, 54, 67, 89, 43, 94]
INDEX 2に挿入： [34, 54, 11, 67, 89, 43, 94]
最後に追加： [34, 54, 11, 67, 89, 43, 94, 11]

In [5]:
#Exercise13
nums = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
nums[2][2].append(7000)
print(nums)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:
#Exercise14
nums = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
del nums[2][2][0]
print(nums)

[10, 20, [300, 400, [6000], 500], 30, 40]

In [9]:
#Exercise15
nums = [10, 20, [10, 20, [10, 20], 30], 30, 40]
nums[2].remove(20)
print(nums)

[10, 20, [10, [10, 20], 30], 30, 40]

In [ ]:
#Exercise16
alph = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub = ['h', 'i', 'j']
alph[2][1][2].extend(sub)
print(alph)

In [6]:
#Exercise17
l = input('入力 >>').split(',')
index = l.index('86')
l[index] = 'Hello'
print(l)

['1', '2', '3', '454', 'Hello', 'ab', 'cd', 'ef']

In [8]:
#Exercise18
tup = ("Orange", [10, 20, 30], (5, 15, 25))
print(tup[1][1])

20

In [ ]:
#Exercise19
tup = (10, 20, 30, 40)
a,b,c,d = tup
print(a)
print(b)
print(c)
print(d)

In [11]:
#Exercise20
tup1 = (11, 22)
tup2 = (99, 88)
tup1, tup2 = tup2, tup1
print(tup1)
print(tup2)

(99, 88)
(11, 22)

In [12]:
#Exercise21
tup = (11, [22, 33], 44, 55)
tup[1][0] = 222
print(tup)

(11, [222, 33], 44, 55)

In [1]:
#Exercise22
id = [26, 41, 28]
member = dict()
member['Takashi'] = {'ID':id[0]}
member['Tetsuo'] = {'ID':id[1]}
member['Akira'] = {'ID':id[2]}
print(member['Tetsuo']['ID'])

41

In [6]:
#Exercise23
l = [('red','#FF0000'),('green','#00FF00'),('blue','#0000FF')]
print(dict(l))

{'red': '#FF0000', 'green': '#00FF00', 'blue': '#0000FF'}

In [2]:
#Exercise24
weeks = ['水曜日', '木曜日', '金曜日', '土曜日', '日曜日', '月曜日', '火曜日']
D = int(input('7月何日？'))
print(weeks[D%7])

月曜日

In [ ]:
#Exercise25
w1 = {'g', 'a', 'c', 'e', 'j'}
w2 = {'a', 'e', 'z', 'x', 'g'}
print(w1 | w2)
print(w1.union(w2))
print(w1 & w2)
print(w1.intersection(w2))
print(w1 - w2)
print(w1.difference(w2))
print(w1 ^ w2)
print(w1.symmetric_difference(w2))

In [7]:
#Exercise26
l1 = ['apple', 'orange', 'mango', 'peach']
l2 = ['orange', 'mango']
l3 = ['mango', 'orange']
s1 = set(l1)
s2 = set(l2)
s3 = set(l3)
print(s1 >= s2)
#print(l2 == l3)
print(s2 == s3)

True
True

In [4]:
#Exercise27
nums = [87, 52, 53, 87, 52]
nums = list(set(nums))
print('重複を除いたリスト', nums)

tup = tuple(nums)
print('タプル：', tup)
a, b, c = tup
print(a,b,c)

重複を除いたリスト [52, 53, 87]
タプル： (52, 53, 87)
52 53 87

In [5]:
#Exercise28
s = {'Yellow', 'Orange', 'Black'}
l = ['Blue', 'Green', 'Red']
s.update(l)
print(s)

{'Black', 'Red', 'Blue', 'Yellow', 'Green', 'Orange'}

In [3]:
#Exercise29
days = ['mon', 'tue', 'wed', 'thu', 'fri']
temp = [36.2, 36.5, 36.1, 36.8, 36.3]
print(dict(zip(days, temp)))

{'mon': 36.2, 'tue': 36.5, 'wed': 36.1, 'thu': 36.8, 'fri': 36.3}

In [ ]:
#Exercise30
dic = { 
   'class':{ 
      'student':{ 
         'name':'Yamada',
         'marks':{ 
            'physics':70,
            'history':80
         }
      }
   }
}
print(dic['class']['student']['marks']['history'])

In [1]:
#Exercise31
dic = {
    'name': 'Yamada',
    'age':25,
    'salary': 150000,
    'city': 'Tokyo'
}

dic['location'] = dic.pop('city')
print(dic)

{'name': 'Yamada', 'age': 25, 'salary': 150000, 'location': 'Tokyo'}

In [3]:
#Exercise32
dic = {
     'emp1': {'name': 'Yamada', 'salary': 200000},
     'emp2': {'name': 'Tanaka', 'salary': 100000},
     'emp3': {'name': 'Soto', 'salary': 120000}
}
dic['emp2']['salary'] = 150000
print(dic)

{'emp1': {'name': 'Yamada', 'salary': 200000}, 'emp2': {'name': 'Tanaka', 'salary': 150000}, 'emp3': {'name': 'Soto', 'salary': 120000}}

In [2]:
#Exercise33
info = {
    '山田':{'朝食':'食パンとコーヒー', '昼食':'ハンバーガー', '夕食':'ステーキ'},
    '近藤':{'朝食':'ごはんと味噌汁', '昼食':'焼き魚定食', '夕食':'おでん'},
    '佐藤':{'朝食':'シリアル', '昼食':'パスタ', '夕食':'アクアパッツァ'}
}
name = input('名前は？')
meal = input('どの食事？')
print(f'{name}さんの{meal}は{info[name][meal]}です')

山田さんの夕食はステーキです

In [4]:
#Exercise34
info1 = {
    '山田':{'朝食':'食パンとコーヒー', '昼食':'ハンバーガー', '夕食':'ステーキ'},
    '近藤':{'朝食':'ごはんと味噌汁', '昼食':'焼き魚定食', '夕食':'おでん'},
    '佐藤':{'朝食':'シリアル', '昼食':'パスタ', '夕食':'アクアパッツァ'}
}
info2 = {
    '山田':{'朝食':'ベーコンエッグ', '昼食':'ホットドッグ', '夕食':'ビーフカレー'},
    '近藤':{'朝食':'ごはんと漬物', '昼食':'丼物', '夕食':'お好み焼き'},
    '佐藤':{'朝食':'サラダ', '昼食':'ピザ', '夕食':'リゾット'}
}
info = {1:info1, 2:info2}
name = input('名前は？')
meal = input('どの食事？')
day = int(input('何日目？'))
print(f'{name}さんの{day}日目の{meal}は{info[day][name][meal]}です')

佐藤さんの2日目の朝食はサラダです

In [4]:
#Exercise35
menu = {'coffee':250, 'tea':230, 'milk':150}
print(230 in menu.values())

True

In [1]:
#Exercise36
menu1 = {'coffee':250, 'sandwich':380, 'salad':180}
menu2 = {'cake':300, 'parfait':400}
menu = menu1.copy()
menu.update(menu2)
#menu = menu1 | menu2 #3.9
print(menu)
print('合計：'+str(sum(menu.values())))

{'coffee': 250, 'sandwich': 380, 'salad': 180, 'cake': 300, 'parfait': 400}
合計：1510

In [7]:
#Exercise37
samp = {'hoge':250, 'foo':300, 'bar':120}
print(samp)
key = input('追加key >>')
val = int(input('追加value >>'))
samp[key] = val
print(samp)
rm = input('削除key >>')
del samp[rm]
print(samp)

{'hoge': 250, 'foo': 300, 'bar': 120}
{'hoge': 250, 'foo': 300, 'bar': 120, 'hogehoge': 333}
{'hoge': 250, 'bar': 120, 'hogehoge': 333}

In [5]:
#Exercise38
moji = list(input('文字列入力 >>'))
print('置換前：'+''.join(moji))
param = input('置換値入力 >>').split(',')
s, d = int(param[0]), int(param[1])
moji[s], moji[d] = moji[d], moji[s]
print('置換後：'+''.join(moji))

置換前：abcdefg
置換後：abfdecg

In [4]:
#Exercise39
two, three = input('スコア >>').split(',')
print(f'スコア合計：{int(two)*2+int(three)*3}')

スコア合計：35

In [6]:
#Exercise40
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'a':1, 'c':3}
#print(set(d1.items()))
#print(set(d2.items()))
print(set(d1.items()) >= set(d2.items()))
print(set(d1.items()).issuperset(set(d2.items())))

True
True

In [1]:
#Exercise41
d = {'apple': 10, 'grape': 20, 'orange': 30}
d['apple'] = d.get('apple', -1)
d['mango'] = d.get('mango', 40)
print(d)

{'apple': 10, 'grape': 20, 'orange': 30, 'mango': 40}

In [3]:
#Exercise42
items = list(input('入力 >>').split(','))
for num in items:
    n = int(num)
    output = ''
    while n > 0:
        output += '@'
        n = n - 1
    print(output)

@@
@@@@
@
@@@