In [ ]:
#リスト
data = ['one', 'two', 'three', 'four', 'five']
print(data[2]) #three
data[3] = 4
print(data) #['one', 'two', 'three', 4, 'five']
data.append('six')
print(data) #['one', 'two', 'three', 4, 'five', 'six']
del data[3] # or data.remove(4) or data.pop(3)
print(data) #['one', 'two', 'three', 'five', 'six']

In [ ]:
#タプル
data = ('one', 'two', 'three', 'four', 'five')
print(data[2]) #three

data = ('six')
print(type(data)) #<class 'str'>

data = ('six',)
print(type(data)) #<class 'tuple'>

In [ ]:
#リストの並び替え
a = [23,5,15,7,2,0,18,30,36,27]
a.sort()
print(a) #[0,2,5,7,15,18,23,27,30,36]
#整数と浮動小数点のソート
b = [3,1.7,14,3.14]
b.sort()
print(b) #[1.7, 3, 3.14, 14]
#昇順・降順の指定はreverse引数で行う
a = [23,5,15,7,2,0,18,30,36,27]
a.sort(reverse=True)
print(a) #[36,30,27,23,18,15,7,5,2,0]

#整数と文字列のソートはエラーとなる
d = [3,0,'1',2]
#d.sort() #TypeError:
#この場合key引数に型変換する関数を指定可能
d.sort(key=int) #[0, '1', 2, 3]
#key=strとしても可能
#絶対値でソート
b = [3,-1.7,-14,3.14]
b.sort(key=abs)
print(b) #[-1.7, 3, 3.14, -14]
#リストがネストしているときのソート
e = [['yamada',105],['tanaka',101],['suzuki',103]]
e.sort()
print(e) #[['suzuki',103],['tanaka',101],['yamada',105]]
#ラムダ式を使って要素を指定してソート
e.sort(key=lambda x: x[1])
print(e) #[['tanaka',101],['suzuki',103],['yamada',105]]

In [ ]:
#リスト・タプルを文字列へ変換
str_list = ['あ','い','う','え','お']
print('-'.join(str_list)) #あ-い-う-え-お

str_list = ["I'd",'like','to','study','Python.']
print(' '.join(str_list)) #I'd like to study Python.

str_list = [1,'2','3','4','5']
print(','.join(str_list)) #TypeError int型が含まれているのでエラーとなる

In [ ]:
#list()、tuple()による生成と変換
l = list()
t = tuple()
print(type(t), type(l)) #<class 'tuple'> <class 'list'>
pets_list = ['Dog', 'Cat', 'Bird']
print(tuple(pets_list)) #('Dog', 'Cat', 'Bird')
pets_tuple = ('Dog', 'Cat', 'Bird')
print(list(pets_tuple)) #['Dog', 'Cat', 'Bird']

In [ ]:
#リストのコピー
a = [1,2,3]
b = a
b[0] = 5
print(a) #[5, 2, 3]
a = [1,2,3]
b = a.copy()
c = list(a)
d = a[:]
a[0] = 5
print(a)#[5,2,3]
print(b)#[1,2,3]
print(c)#[1,2,3]
print(d)#[1,2,3]

In [ ]:
#浅いコピー
a = [1,2,[8,9]]
b = a.copy()
c = list(a)
d = a[:]
a[2][1] = 10
print(a) #[1, 2, [8, 10]]
print(b) #[1, 2, [8, 10]]
print(c) #[1, 2, [8, 10]]
print(d) #[1, 2, [8, 10]]

import copy
a = [1,2,[8,9]]
b = copy.deepcopy(a)
a[2][1] = 10
print(a) #[1, 2, [8, 10]]
print(b) #[1, 2, [8, 9]]

In [ ]:
#セット(集合)
data = {'one', 'two', 'three', 'four', 'five'}
data.add('six')
print(data) #{'three', 'one', 'five', 'six', 'four', 'two'}
data.remove('four')
print(data) #{'three', 'one', 'five', 'six', 'two'}
data.pop()
print(data) #{'one', 'five', 'six', 'two'}

In [ ]:
#set()による生成と変換
a = set()
print(type(a)) # <class 'set'>
s = set('letters')
print(s) #{'l', 'e', 's', 'r', 't'}
print(set(['one','two','three','four'])) #{'three', 'one', 'two', 'four'}
print(set((1,2,3,4))) #{1, 2, 3, 4}
print(set({'jan':'1月', 'feb':'2月', 'mar':'3月', 'apr':'4月', 'may':'5月'}))
# {'apr', 'mar', 'feb', 'jan', 'may'}

In [ ]:
#ディクショナリー(辞書)
data = {'jan':'1月', 'feb':'2月', 'mar':'3月', 'apr':'4月', 'may':'5月'}
print(data['apr']) #4月
data['jun'] = '6月'
print(data) #{'jan':'1月', 'feb':'2月', 'mar':'3月', 'apr':'4月', 'may':'5月', 'jun':'6月'}
data['feb'] = '如月'
print(data) #{'jan':'1月', 'feb':'如月', 'mar':'3月', 'apr':'4月', 'may':'5月', 'jun':'6月'}

In [ ]:
#dict()による生成と変換
a = dict()
print(type(a)) #<class 'dict'>
b = dict(name='Taro', age=30)
print(b) #{'name': 'Taro', 'age': 30}
c = dict([('one',1),('two',2),('three',3),('four',4)])
print(c) #{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [ ]:
#アンパック代入
a, b, c, d = (1, 2, 3, 4)
print(a, b, c, d) #1 2 3 4
e, f, g, h = ['one', 'two', 'three', 'four']
print(e, f, g, h) #one two three four

a, b = {'one':1,'two':2}
print(a, b) #one two

a = 'RIGHT'
b = 'LEFT'
a, b = b, a
print(a, b) #LEFT RIGHT

data = 1, 2, 3, 4
print(data) #(1, 2, 3, 4)

a, b, c = range(3)
print(a, b, c) #0 1 2

In [ ]:
#アンパック代入の応用(リスト化)
a, b, *c = (1, 2, 3, 4)
print(a, b, c) #1 2 [3, 4]
*a, b, c = (1, 2, 3, 4)
print(a, b, c) #[1, 2] 3 4

a, b, *c, d, e = (1, 2, 3, 4)
print(a, b, c, d, e) #1 2 [] 3 4
a, b, c, d, *e = (1, 2, 3, 4)
print(a, b, c, d, e) #1 2 3 4 []

In [ ]:
#Exercise1
team_1 = ['阪神', '巨人', 'ヤクルト']
team_2 = ['DeNA', '中日', '広島']
team_1 += team_2
#team_1.extend(team_2)
print(team_1)

In [ ]:
#Exercise2
flowers = ['さくら', 'きく', 'ゆり', 'ばら', 'うめ']
print(' '.join(flowers))

In [ ]:
#Exercise3
country = '東京,ニューヨーク,ロンドン,パリ,ローマ'
country = country.split(',')
country2 = country.copy()
#country2 = list(country)
#country2 = country[:]
country2[1] = 'マドリード'
country2[3] = 'ベルリン'
print(country)
print(country2)

In [ ]:
#Exercise4
favorites = {'java':60, 'python':80, 'c++':40, 'javascript':70}
print(list(favorites))
print(list(favorites.keys()))
print(list(favorites.values()))

In [ ]:
#Exercise5
number = ['one', 'two', 'four']
number.append('five')
print(number)
number.insert(2, 'three')
print(number)

In [ ]:
#Exercise6
number = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
print(number[0:3])
print(number[2:5])
print(number[::2])
print(number[::-2])

In [ ]:
#Exercise7
material = ['いち', 'にー', 'なな', 'さん', 'よん']
material.remove('なな')
print(material)
del material[-2:]
print(material)

In [ ]:
#Exercise8
box1 = ['one', 'two', 'three', 'eight']
box2 = ['five', 'six', 'seven', 'four']
num1 = box1.pop()
num2 = box2.pop()
box1.append(num2)
box2.append(num1)
print(box1)
print(box2)

In [ ]:
#Exercise9
nums = [2,'1',4.0,0,3.14]
nums.sort(key=int)
print(nums)
nums.sort(key=int,reverse=True)
print(nums)

In [ ]:
#Exercise10
fruits = [
    ['Banana', 'Peach'],
    ['Orange', 'Grape'],
    ['Apple', 'Cherry']
]
print(fruits[0][0]+','+fruits[2][1])

In [ ]:
#Exercise11
l = ['Tea','Coffee','Tapioca drink','Matcha','Coffee','Yogurt']
cnt = l.count('Coffee')
print(f'{cnt} cups of Coffee')

In [ ]:
#Exercise12
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = list()

odd = listOne[1::2]
print(odd)
even = listTwo[0::2]
print(even)
listThree.extend(odd)
listThree.extend(even)
print(listThree)

listFour = []
listFour += odd + even
print(listFour)

In [ ]:
#Exercise13
nums = [34, 54, 67, 89, 11, 43, 94]
element = nums.pop(4)
print('INDEX 4を削除：', nums)
nums.insert(2, element)
print('INDEX 2に挿入：', nums)
nums.append(element)
print('最後に追加：', nums)

In [ ]:
#Exercise14
nums = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
nums[2][2].append(7000)
print(nums)

In [ ]:
#Exercise15
nums = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
del nums[2][2][0]
print(nums)

In [ ]:
#Exercise16
nums = [10, 20, [10, 20, [10, 20], 30], 30, 40]
nums[2].remove(20)
print(nums)

In [ ]:
#Exercise17
alph = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub = ['h', 'i', 'j']
alph[2][1][2].extend(sub)
print(alph)

In [ ]:
#Exercise18
nums = input('入力 >>').split(',')
nums.sort(key=int)
print(nums[0],nums[-1])

In [ ]:
#Exercise19
l = input('入力 >>').split(',')
index = l.index('86')
l[index] = 'Hello'
print(l)

In [ ]:
#Exercise20
tup = ("Orange", [10, 20, 30], (5, 15, 25))
print(tup[1][1])

In [ ]:
#Exercise21
tup = (10, 20, 30, 40)
a,b,c,d = tup
print(a)
print(b)
print(c)
print(d)

In [ ]:
#Exercise22
tup1 = (11, 22)
tup2 = (99, 88)
tup1, tup2 = tup2, tup1
print(tup1)
print(tup2)

In [ ]:
#Exercise23
tup = (11, [22, 33], 44, 55)
tup[1][0] = 222
print(tup)

In [ ]:
#Exercise24
id = [26, 41, 28]
member = dict()
member['Takashi'] = {'ID':id[0]}
member['Tetsuo'] = {'ID':id[1]}
member['Akira'] = {'ID':id[2]}
print(member['Tetsuo']['ID'])

In [ ]:
#Exercise25
l = [('red','#FF0000'),('green','#00FF00'),('blue','#0000FF')]
print(dict(l))

In [ ]:
#Exercise26
weeks = ['水曜日', '木曜日', '金曜日', '土曜日', '日曜日', '月曜日', '火曜日']
D = int(input('7月何日？'))
print(weeks[D%7])

In [ ]:
#Exercise27
w1 = {'g', 'a', 'c', 'e', 'j'}
w2 = {'a', 'e', 'z', 'x', 'g'}
print(w1 | w2)
print(w1.union(w2))
print(w1 & w2)
print(w1.intersection(w2))
print(w1 - w2)
print(w1.difference(w2))
print(w1 ^ w2)
print(w1.symmetric_difference(w2))

In [ ]:
#Exercise28
w1, w2 = input('入力 >>').split(',')
w3 = set(w1) & set(w2)
print(''.join(w3))

In [ ]:
#Exercise29
l1 = [1, 3, 5, 7, 9]
l2 = [1, 2, 4, 6, 7, 8]
l3 = list(set(l1)^set(l2))
print(l3)
#diff1 = list(set(l1)-set(l2))
#diff2 = list(set(l2)-set(l1))
#diff3 = diff1+diff2
#print(diff3)

In [ ]:
#Exercise30
A = ['秋田県','山形県','山口県','宮崎県','高知県']
B = ['山口県','高知県','長崎県','北海道','石川県']
pref1 = set(A)
pref2 = set(B)
print(f'2人とも行ったことのある場所：{list(pref1 & pref2)}')
print(f'1人しか行ったことのない場所：{list(pref1 ^ pref2)}')

In [ ]:
#Exercise31
l1 = ['apple', 'orange', 'mango', 'peach']
l2 = ['orange', 'mango']
l3 = ['mango', 'orange']
s1 = set(l1)
s2 = set(l2)
s3 = set(l3)
print(s1 >= s2)
print(s1.issuperset(s2))
print(s2 <= s1)
print(s2.issubset(s1))
#print(l2 == l3)
print(s2 == s3)

In [ ]:
#Exercise32
nums = [87, 52, 53, 87, 52]
nums = list(set(nums))
print('重複を除いたリスト', nums)

tup = tuple(nums)
print('タプル：', tup)
a, b, c = tup
print(a,b,c)

In [ ]:
#Exercise33
s = {'Yellow', 'Orange', 'Black'}
l = ['Blue', 'Green', 'Red']
s.update(l)
print(s)

In [ ]:
#Exercise34
words = list(input('入力 >>'))
num = len(set(words))
print(f'種類数：{num}')

In [ ]:
#Exercise35
words = input('入力 >>')
s1 = words[:int(len(words)/2)]
s2 = words[int(len(words)/2):]
print({'front':s1, 'behind':s2})

In [ ]:
#Exercise36
days = ['mon', 'tue', 'wed', 'thu', 'fri']
temp = [36.2, 36.5, 36.1, 36.8, 36.3]
print(dict(zip(days, temp)))

In [ ]:
#Exercise37
dic = { 
   'class':{ 
      'student':{ 
         'name':'Yamada',
         'marks':{ 
            'physics':70,
            'history':80
         }
      }
   }
}
print(dic['class']['student']['marks']['history'])

In [ ]:
#Exercise38
dic = {
    'name': 'Yamada',
    'age':25,
    'salary': 150000,
    'city': 'Tokyo'
}

dic['location'] = dic.pop('city')
print(dic)

In [ ]:
#Exercise39
dic = {
     'emp1': {'name': 'Yamada', 'salary': 200000},
     'emp2': {'name': 'Tanaka', 'salary': 100000},
     'emp3': {'name': 'Sato', 'salary': 120000}
}
dic['emp2']['salary'] = 150000
print(dic)

In [ ]:
#Exercise40
info = {
    '山田':{'朝食':'食パンとコーヒー', '昼食':'ハンバーガー', '夕食':'ステーキ'},
    '高橋':{'朝食':'ごはんと味噌汁', '昼食':'焼き魚定食', '夕食':'おでん'},
    '佐藤':{'朝食':'シリアル', '昼食':'パスタ', '夕食':'アクアパッツァ'}
}
name = input('名前は？')
meal = input('どの食事？')
print(f'{name}さんの{meal}は{info[name][meal]}です')

In [ ]:
#Exercise41
info1 = {
    '山田':{'朝食':'食パンとコーヒー', '昼食':'ハンバーガー', '夕食':'ステーキ'},
    '高橋':{'朝食':'ごはんと味噌汁', '昼食':'焼き魚定食', '夕食':'おでん'},
    '佐藤':{'朝食':'シリアル', '昼食':'パスタ', '夕食':'アクアパッツァ'}
}
info2 = {
    '山田':{'朝食':'ベーコンエッグ', '昼食':'ホットドッグ', '夕食':'ビーフカレー'},
    '高橋':{'朝食':'ごはんと漬物', '昼食':'丼物', '夕食':'お好み焼き'},
    '佐藤':{'朝食':'サラダ', '昼食':'ピザ', '夕食':'リゾット'}
}
info = {1:info1, 2:info2}
name = input('名前は？')
meal = input('どの食事？')
day = int(input('何日目？'))
print(f'{name}さんの{day}日目の{meal}は{info[day][name][meal]}です')

In [ ]:
#Exercise42
menu = {'coffee':250, 'tea':230, 'milk':150}
print(230 in menu.values())

In [ ]:
#Exercise43
menu1 = {'coffee':250, 'sandwich':380, 'salad':180}
menu2 = {'cake':300, 'parfait':400}
menu = menu1.copy()
menu.update(menu2)
#menu = {**menu1, **menu2}
#menu = menu1 | menu2 #3.9
print(menu)
print('合計：'+str(sum(menu.values())))

In [ ]:
#Exercise44
samp = {'hoge':250, 'foo':300, 'bar':120}
print(samp)
key = input('追加key >>')
val = int(input('追加value >>'))
samp[key] = val
print(samp)
rm = input('削除key >>')
del samp[rm]
print(samp)

In [ ]:
#Exercise45
moji = list(input('文字列入力 >>'))
print('置換前：'+''.join(moji))
param = input('置換値入力 >>').split(',')
s, d = int(param[0]), int(param[1])
moji[s], moji[d] = moji[d], moji[s]
print('置換後：'+''.join(moji))

In [ ]:
#Exercise46
score = list(input('スコア >>').split(','))
foo_total = int(score[0])*2+int(score[1])*3
hoge_total = int(score[2])*2+int(score[3])*3

print(f'結果：Fooチーム:{foo_total} vs Hogeチーム:{hoge_total}')

In [ ]:
#Exercise47
data1 = list(input('入力1 >>').split(','))
data2 = list(input('入力2 >>').split(','))
dic = []
dic.append(data1)
dic.append(data2)
print(dict(dic))

In [ ]:
#Exercise48
data1 = {'white': 2, 'red': 3, 'blue': 1, 'yellow': 0}
data2 = ['#FFFF00','#0000FF','#FFFFFF','#FF0000']
key = input('入力 >>')
print(f'{key}は、{data2[data1[key]]}です')

In [ ]:
#Exercise49
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'a':1, 'c':3}
#print(set(d1.items()))
#print(set(d2.items()))
print(set(d1.items()) >= set(d2.items()))
print(set(d1.items()).issuperset(set(d2.items())))

In [ ]:
#Exercise50
d = {'apple': 10, 'grape': 20, 'orange': 30}
d['apple'] = d.get('apple', -1)
d['mango'] = d.get('mango', 40)
print(d)

In [ ]:
#Exercise51
colors = {
    (255,0,0): 'red',
    (0,128,0): 'green',
    (0,0,255): 'blue',
    (255,255,0): 'yellow',
}
print(colors[0,128,0])
colors[0,255,255] = 'cyan'
print(colors)

In [ ]:
#Exercise52
member = {
    "A_class":[
        {"id":"21001","name":"鶴","temp":[36.2,36.3,36.2,36.4,36.7]},
        {"id":"21002","name":"亀","temp":[35.8,36.4,35.9,36.0,36.2]}
    ],
    "B_class":[
        {"id":"21101","name":"松","temp":[36.0,36.1,36.4,36.3,36.6]},
        {"id":"21102","name":"竹","temp":[36.2,36.3,36.8,36.5,36.3]}
    ]
}
print(member["A_class"][1]["temp"][1])
member["B_class"][1]["temp"][2] = 36.0
print(member["B_class"][1]["temp"])

In [ ]:
#Exercise53
p = {}
p["id"] = "21103"
p["name"] = "梅"
p["temp"] = [35.8,35.7,35.8,36.1,35.9]
member["B_class"].append(p)
#print(member[c][2])
print(member)

In [ ]:
#Exercise54
d1 = {'iPhone13': 6.1, 'iPhone13Pro': 6.1, 'iPhone13ProMax': 6.7, 'iPhoneSE': 4.7}
d2 = {'iPhone12': 6.1, 'iPhone13': 6.1, 'iPhone12mini': 5.4}
d3 = dict(set(d1.items()) & set(d2.items()))
d4 =dict(set(d1.items()) | set(d2.items()))
d5 = d1 | d2 #Python3.9
print(d3)
print(d4)
print(d5)

In [ ]:
#Exercise55
print(list(range(10))) #0以上10未満
print(list(range(1,11))) #1以上11未満
print(list(range(0,30,5))) #0以上30未満、5ずつ
print(list(range(0,10,3))) #0以上10未満、3ずつ
print(list(range(0,-10,-1))) #0以下-10より上、-1ずつ
print(list(range(10,-1,-1))) #10以下-1より上、-1ずつ